screen-capture {
  .o-screen-capture:not(.o-screen-capture--open) {
    display: none;
  }

  .c-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index);
  }

  .c-toolbar {
    position: fixed;
    bottom: 1em;
    left: 0;
    z-index: var(--z-index);
    width: 100%;
    text-align: center;
  }

  .c-instruction {
    margin-bottom: 1em;
  }
}
